<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/styles/styles.css">
        <link rel="icon" href="/img/weather.png">
        
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>use this site to get your weather</p>
            <div>
            <form>
                <input>
                <button>Search</button>
            </form>
        </div>

        <P id="message-1"></P>
        <p id="message-2"></p>
        </div>
        
        {{>footer}}

        <script src="/scripts/app.js"></script>
    </body>
    
</html>